*{
    box-sizing: border-box;
}
.head{
  display: flex;
  background-color: DodgerBlue;
  width: 350px;
  border: 2px solid black;
}
.der{
    background-color: #f1f1f1;
    width: 130px;
    margin: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
