.container{
    color: #fff;
}
.container .header{
    background-color: #2ecc71;
    margin-bottom: 10px;
}
.container .main{
    display: flex ;
    gap: 10px;
}
.main .sidebar{
    flex: 1;
    background-color: #3498db;
    height: 100px;
}
.main .content{
    flex: 3;
    background-color: #e74c3c;
    height: 100px;
}
.container .footer{
    margin-top: 10px;
    background-color: #9b59b6;
}