* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: white;
}

/* Header */
header {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Container chính */
.container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.content {
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
}

.featured-post {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.featured-post a {
    color: blue;
    text-decoration: none;
}

.other-posts .post {
    margin-bottom: 15px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
h1{
    margin-right: 1250px;
    line-height: 10px;
    
}
nav{
    margin-left: 1250px;
    line-height: 4;
}

